:root {
  --web-background-color: #fff;
  --header-background-color: #d3d3d3;
}

body {
  margin: 0;
}

.rom-card {
  position: relative;
  width: 500px;
  height: 230px;
  padding: 15px;
  overflow: hidden;
  background: linear-gradient(60deg, #151516 0%, #1d2229 100%);
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.rom-card h2 {
  z-index: 10;
  position: absolute;
  bottom: 25px;
  right: 130px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  pointer-events: none;
  transition: 0.2s ease;
  direction: rtl;
  max-width: 300px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.rom-card p {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  right: 130px;
  width: 150px;
  color: #fff;
  opacity: 0;
  font-size: 12px;
  text-align: right;
  letter-spacing: 1px;
  transition: 0.2s ease;
}
.rom-card span {
  z-index: 10;
  position: absolute;
  top: 60px;
  right: 35px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  transition: 0.2s ease;
  opacity: 0.7;
}
.rom-card .pic {
  z-index: 100;
  width: 395px;
  height: 200px;
  background-size: cover;
  border-radius: 12px;
  filter: grayscale(100%);
  transition: 0.3s ease;
}
.rom-card button {
  position: absolute;
  right: 30px;
  bottom: 40px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  opacity: 1;
  transition: 0.3s ease;
}
.rom-card:hover button {
  transform: scale(16.5);
  opacity: 0.5;
}
.rom-card:hover h2 {
  bottom: 80px;
  right: 50px;
}
.rom-card:hover p {
  opacity: 1;
  right: 60px;
}
.rom-card:hover .pic {
  filter: grayscale(0);
  width: 470px;
}
@media (max-width: 768px) {
  .rom-card {
    width: 100%;
  }
  .rom-card button {
    transform: scale(16.5);
    opacity: 0.5;
  }
  .rom-card h2 {
    bottom: 80px;
    right: 50px;
  }
  .rom-card p {
    opacity: 1;
    right: 60px;
  }
  .rom-card .pic {
    filter: grayscale(0);
    width: 470px;
  }
}

.roms-grid {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.loader-container .loader {
  position: relative;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  color: #000;
}
.loader-container .loader:before, .loader-container .loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader-container .loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.roms-filter-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: var(--header-background-color);
}
.roms-filter-container .roms-filter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .roms-filter-container .roms-filter-form {
    flex-direction: row;
  }
}
.roms-filter-container .roms-filter-form .roms-filter-submit {
  padding: 10px 20px;
  border: #000 solid 1px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  transition: 0.5s ease;
  user-select: none;
}
.roms-filter-container .roms-filter-form .roms-filter-submit:hover {
  box-shadow: 0 0 5px #000, 0 0 20px #000;
}
.roms-filter-container .roms-filter-form .videoconsole-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .roms-filter-container .roms-filter-form .videoconsole-filter-container {
    flex-direction: row;
  }
}

.videoconsole-filter-grid {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-height: 50px;
  --card-width: calc(var(var(--card-height)/1.5));
}

.checkbox-card {
  margin: 20px;
  background-color: #000;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88, 199, 5);
  cursor: pointer;
}
.checkbox-card input[type=checkbox] {
  display: none;
}
.checkbox-card .checkbox-span {
  cursor: pointer;
  margin: 10px;
}
.checkbox-card.checkbox-unchecked {
  background-color: var(--header-background-color);
  color: rgb(88, 199, 250);
  transition: color 1s;
  border: #000 solid 1px;
}
.checkbox-card.checkbox-unchecked::before, .checkbox-card.checkbox-unchecked::after {
  animation: none;
  opacity: 0;
}
.checkbox-card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), aqua, #3c67e3 43%, #4e00c2);
  position: absolute;
  top: -1%;
  left: -1%;
  z-index: -1;
  animation: spin 2.5s linear infinite;
}
.checkbox-card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), aqua, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate:360deg;
  }
}
.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pagination-container .pagination-list {
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.pagination-container .pagination-list .pagination-number {
  color: blue;
  margin: 0 3px;
  cursor: pointer;
}
.pagination-container .pagination-list .pagination-number.page-selected {
  font-size: 1.1rem;
  color: black;
  cursor: default;
}